body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

ol{
    margin: auto;
}
h1 {
    background-color: grey;
    color: white;
    text-align: center;
    margin: auto;
    padding: 0;
}
.ideas{
    margin: 0;
}

.links{
    margin: 0;
    text-align: center;
}
