body
{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: rgb(190, 115, 29);
}

h1
{
    margin: 0;
    font-size: 5em;
    height: 100px;
    background: rgb(190, 115, 29);
    color: white;
}
.mid
{
    font-size: 1.2em;
    height: 300px;
}

button
{
    border: none;
    color: green;
    background: white;
}
