body{
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;
}
.blue{
    width: 100%;
    height: 200px;
    background: rgb(120, 171, 238);
}
h1{
    margin: 0;
    padding: 3% 0 0;
    text-align: center;
    color: rgb(235, 235, 235);
}
h2{
    color: rgb(235, 235, 235);
    margin: 0;
    text-align: center;
    padding: 0;
}
.backdrop{
    background: rgba(120, 171, 238, .3);
    display: grid;
    margin: 0 auto;
    width: 95%;
    height: 700px;
    border-radius: 5px;
    padding: -5px 0 0 0;
    filter: drop-shadow(0px 12px 12px rgba(22, 22, 22, 0.2));
}
a{
    text-decoration: none;
    color: rgb(235, 235, 235);
    padding: 0 4px;
    margin: 0;
}


#brand{
    font-size: 1.4em;
    padding: 0 30px 0 0;
}
#contact{
    margin-right: 0;
    margin: auto;
}

.navigation{
    margin: auto;
    width: 70%;
    grid-template-columns: auto;
    box-shadow: 0px .2px .2px .2px rgba(235, 235, 235, 0.5);
    transition: .2s;
}

.navigation a:hover{
    /* font-size: 1.2em; */
    color: rgba(32, 32, 32, 0.5);
    text-shadow: 0px 2px 2px rgba(32, 32, 32, 0.5);
}
.mail{
    padding: 0 0 0 50%;
}



/* from podcard.css project */
.theCard{
    margin: 2% auto;
    padding: 1%;
    background: white;
    height: 50%;
    top: 50%;
    left: 50%;
    min-width: 33%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 7px 7px 25px 0px #373F4D;
}

.title{
    padding: 0;
    margin: 0;
    font-size: 2em;
    color: #373f4d;
}

.subtitle{
    padding: 0;
    margin: 0 0 2% 0;
    color: rgba(55, 61, 77, .7);
}
.writing{
    margin: 3% 0 1% 0;
    padding: 0;
    font-size: .85em;
    color: #373F4D;
}
.players{
    margin: 0 .2em;
    padding: 0;
    text-align: center;
    height: 1.8em;
    background: white;
    box-shadow: 2px 2px 3px 0px #373F4D;
    border: none;
    color: #373F4D;
    font-size: .8em;
}

iframe{
    filter: drop-shadow(2px 2px 2px #373F4D);
}

.links{
    background: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    height: fit-content;    
}

.players:hover{
    /* font-size: 1.2em; */
    color: rgba(32, 32, 32, 0.5);
    text-shadow: 0px 2px 2px rgba(32, 32, 32, 0.5);
}