body{
    font-family: 'Stoke', serif;
    font-weight: lighter;
    margin: 10px 0 0 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #202020;
    margin: 0;
    padding: 0 5px 0;
}

#brand{
    font-size: 1.4em;
    padding: 0 30px 0 0;
}
#contact{
    margin-right: 0;
    margin: auto;
}

.navigation{
    margin: auto;
    width: 70%;
    grid-template-columns: auto;
    box-shadow: 0px .20px .2px .2px rgba(32, 32, 32, 0.5);
    transition: .2s;
}

.navigation a:hover{
    /* font-size: 1.2em; */
    color: rgba(32, 32, 32, 0.5);
    text-shadow: 0px 2px 2px rgba(32, 32, 32, 0.5);
}

.foot{
    margin: 20% 0 80% 15%;
    font-size: .85em;
    text-align: left;
    text-decoration: none;
    color: #202020;
}
#foot:hover{
    font-size: 1.2rem;
    color: rgba(32, 32, 32, 0.5);
    text-shadow: 0px 2px 2px rgba(32, 32, 32, 0.5);
}
/* .bigger{
    font-size: 1.5em;
} */