.wrapper{
    margin: 2% 10%;
    padding: 0;
}
.goodBtn{
    color: #202020;
    text-decoration: none;
    margin: 0;
    padding: 0 2%;
    min-width: 150px;
    max-width: 80%;
    height: fit-content;
    border-radius: 7px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1.4em;
    font-weight: 700;
    border: .1px solid #202020;
    letter-spacing: .1rem;
    transition: .1s;
    box-shadow: 3px 3px 4px #202020;
    text-shadow: 2px 2px 2px #b6b6b6;
    }
.goodBtn:hover{
    background: #202020;
    color: white;
    font-size: 1.6rem;
    box-shadow: 6px 6px 3px #b6b6b6;
    text-shadow: none;
    min-width: 175px;
    max-width: 90%;
}
iframe{
    /* margin: 5% 0 0 0; */
    padding: 7% 0;
    filter: drop-shadow(2px 2px 2px #202020);
}

img{
    margin: 0;
    min-width: 150px;
    max-width: 20%;
    transition: 1s;
}

.card{
    display: none;
    margin: 0;
    min-width: 30px;
    max-width: 50%;
    transition: 1s;
}
.close{
    margin: 0 0 0 90%;
    font-size: 1.5em;
    transition: .1s;
}

.close:hover{
    /* background: #202020; */
    color: rgb(224, 224, 224);
    font-size: 1.6rem;
    filter: drop-shadow(2px 2px 2px #202020);
    text-shadow: none;
}

.pics{
    transition: 1s;
}

.foot{
    margin: 20% 0 80% 15%;
    font-size: .85em;
    text-decoration: none;
    color: #202020;
}
#foot:hover{
    font-size: 1.2rem;
    color: rgba(32, 32, 32, 0.5);
    text-shadow: 0px 2px 2px rgba(32, 32, 32, 0.5);
}
a{
    text-decoration: none;
    color: #202020;
    margin: 0;
    padding: 0 5px 0;
}