body{
    margin: 0;
    padding: 0;
    font-family: 'Stoke', serif;
}

.theCard{
    padding: 1%;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    /* not sure if I like setting width or not tbh */
    /* width: 60%; */
    min-width: 33%;
    max-width: 400px;
    transform: translate(-50%,-50%);
    /* border: solid rgba(22, 22, 22, .5) 1px; */
    border-radius: 5px;
    /* filter: drop-shadow(0 10px 15px #202020); */
    box-shadow: 7px 7px 25px 0px #373F4D;
}

.title{
    font-family: 'Righteous', cursive;
    padding: 0;
    margin: 0;
    font-size: 2em;
    color: #373f4d;
}

.subtitle{
    padding: 0;
    margin: 0 0 2% 0;
    color: rgba(55, 61, 77, .7);
    /* color: #C45250; */
}
.writing{
    margin: 3% 0 1% 0;
    padding: 0;
    font-size: .85em;
    color: #373F4D;
}
.players{
    margin: .2em .2em;
    padding: 0;
    /* width: 125px; */
    height: 3em;
    background: white;
    /* filter: drop-shadow(0 0 0.2em #222222); */
    box-shadow: 2px 2px 3px 0px #373F4D;
    border: none;
    font-family: 'Righteous', cursive;
    color: #373F4D;
}

iframe{
    filter: drop-shadow(2px 2px 2px #373F4D);
}

.links{
    background: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    height: fit-content;    
}

#foot{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .85em;
}